<footer class="footer">
  <span>{{ site.footerText }}</span>
  {%- comment %}  <a href="{{ site.baseurl }}/static/xml/rss.xml">RSS订阅</a>
  <span>Theme By</span>
  <a href="https://github.com/TMaize/tmaize-blog">TMaize</a>{% endcomment %}
  <span>design by</span>
  <a href="https://github.com/aloeordown"></a>
  <div class="footer-btn theme-toggler hide">
    <i class="svg-icon icon-theme-light"></i>
  </div>
  <div class="footer-btn to-top">
    <i class="svg-icon icon-arrow-top"></i>
  </div>
</footer>
